<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .book {
      border: 1px solid blue;
    }
  </style>

</head>
<body>
  <main>
    <h1>{{ page_title }}</h1>
    
    {% for book in books %}
      <div class="book">
        <p>{{ book.title }}</p>
        <p>{{ book.publish_date }}</p>
        <p>{{ book.description }}</p>
      </div>
    {% endfor %}
  
    <h2>Add a new book</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add</button>
    </form>
  </main>
</body>
</html>